/* 
    IBM In-house {Web Coder} course Assignment Snippet.
    CSS styling slave file.
    For internal IBM learning usage.
*/


/*  ----- HTML Body Styles -----  */
body {
  /* Position: relative; */
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  
  /* Padding for top navbar fixed  */
  padding-top: 75px; 
}
html {
  font-size: 14px;
  height: 100%;
  box-sizing: border-box;
}

  nav > a > img {
    height: 85px;
  }

  /* Responsive typography */
  /* 
  @include media-breakpoint-up(sm) {
    html {
      font-size: 16px;
    }
  }

  @include media-breakpoint-up(md) {
    html {
      font-size: 20px;
    }
  }

  @include media-breakpoint-up(lg) {
    html {
      font-size: 28px;
    } 
  */

  /* Jumbotron */
  .jumbotron{
    background-image: url("../image/motherhood_love.jpg");
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: large;
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-emphasis: sh;
    }

  .blue-highlight {
    text-shadow: 
      -3px 0px 3px blue,
      3px 0px 3px blue,
      6px 0px 6px blue,
      -6px 0px 6px blue;
    }

  .parallax{
    height: 100%;
    background-image: url("../image/beige coffee.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
  }
  
  .parallax2{
    height: 100%;
    background-image: url("../image/pink mudan.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
  }
  /*.my-container{
      font-size: 3rem;
      max-width: 600px;
      margin: auto;
      color: white;	
    }*
 
  /* Box-sizing */
    .selector-for-some-widget {
      box-sizing: content-box;
  }
  .colourblue{
    color: blue;
  }
  .colourdarkorchid{
    color: darkorchid;
  }

  /* LAYOUT - Responsive breakpoints */
  /* // Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) {  

  }

  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {  

  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991px) {  

  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199px) {  
      
  }

  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  

  }


